*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #00828c;
    color: #fff;
}
.logo {
    font-size: 30px;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 70px;
}
.home,
.about,
.skills,
.contact,
.signup {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

















